# COGS 108 - Data Checkpoint

# Names

- Leica Shen
- Yuxuan Wu
- Eddie Ho
- Xuewen Yang

<a id='research_question'></a>
# Research Question

How has the COVID-19 pandemic impact global warming? Specifically, how do changes in greenhouse gas emissions during 1/30/2020 - 4/11/2023 resulting from pandemic-related lockdowns impact the rate of global temperature increase and sea level rise?

# Dataset(s)

**Dataset 1**
- Dataset Name: global_land_and_ocean_temp_anomalies
- Link to the dataset: https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/global/time-series/globe/land_ocean/all/1/1900-2023
- Number of observations: 1480

Global temperature anomalies for land and ocean from 01/1900 to 04/2023, compared to a baseline climatology from 1901-2000.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

**Dataset 2**
- Dataset Name: Change_in_Mean_Sea_Levels
- Link to the dataset: https://climatedata.imf.org/datasets/b84a7e25159b4c65ba62d3f82c605855/explore
- Number of observations: 1608

Change in average sea levels across different regions of the world, measured in millimeters and derived from satellite radar altimeter measurements of sea level. The time-series data spans from 12/17/1992 to 8/10/2022, with 3/4 data points available for each month. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

**Dataset 3**
- Dataset Name: Atmospheric_CO2_Concentrations
- Link to the dataset: https://climatedata.imf.org/datasets/9c3764c0efcc4c71934ab3988f219e0e/explore
- Number of observations: 1548

Monthly measurements of global atmospheric carbon dioxide ($CO_2$) concentrations are provided as dry air mole fractions in parts per million (ppm), representing the ratio of $CO_2$ molecules to the total number of molecules in the air excluding water vapor. Dataset spans from 3/1958 to 2/2023.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
import pandas as pd
import numpy as np

In [25]:
temp_change = pd.read_csv('data/global_land_and_ocean_temp_anomalies.csv', skiprows=4)
temp_change.head()

     Year  Value
0  190001  -0.30
1  190002  -0.17
2  190003  -0.03
3  190004  -0.05
4  190005  -0.06

In [26]:
temp_change.shape

(1480, 2)

In [13]:
sea_level = pd.read_csv('data/Change_in_Mean_Sea_Levels.csv').drop(columns='ObjectId')
sea_level.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value
0,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Andaman Sea,D12/17/1992,-10.34
1,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Arabian Sea,D12/17/1992,-18.46
2,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Atlantic Ocean,D12/17/1992,-15.41
3,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Baltic Sea,D12/17/1992,196.85
4,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Bay Bengal,D12/17/1992,3.27

In [15]:
sea_level.shape

(1608, 3)

In [16]:
CO2_Concentrations = pd.read_csv('data/Atmospheric_CO2_Concentrations.csv').drop(columns='ObjectId')
CO2_Concentrations.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value
0,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M03,315.70
1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M04,317.45
2,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M05,317.51
3,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M06,317.24
4,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M07,315.86

In [17]:
CO2_Concentrations.shape

(1548, 11)

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION